In [ ]:
SQL take a missing data from one table and insert it into another one 
python was or logic 
hadook i do not remember